{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.png' %}"/>
        <title>Image Moderator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock %}
    </head>
    <body>
        {{ users }}
        <div id="app-container">
            <!-- react -->
        </div>

        <script>
            window.props = {{ props | safe }};
        </script>

        <script src="{% static "js/lib/nav.js" %}" type="text/javascript"></script>
        <script src="{% get_static_prefix %}bundles/ui.js?version={{ version }}" type="text/javascript"></script>
        
    </body>
</html>