@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.main-content {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

.next-image-container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.next-image {
    width: 350px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}